.flashcards {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.flashcard {
  border: 1px solid #ccc;
  padding: 20px;
  min-height: 100px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s;
}

.flashcard:hover{
    background-color: #2c2c2c;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcards button {
  margin: 5px;
  padding: 6px 12px;
}
