.card {
  border: 2px solid #ffffff;
  border-radius: 9px;
  padding: 20px;
  margin: 20px 0;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  background-color: #333333;
  color: rgb(255, 255, 255);
}
